<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{exam['title']}}</title>
</head>
<body>
   <header>

   </header>
   <main>
      <h2>{{ exam['title'] }}</h2>
      <p>{{ exam['description'] }}</p>

      <form id="examForm" action="{{ url_for('submit_result') }}" method="POST">
         <input type="hidden" name="exam_id" value="{{ exam['id'] }}">
         {% for q in questions %}
            <div class="questions">
               <p><strong>{{ loop.index }}. {{ q['statement'] }}</strong></p>
               <label><input type="radio" name="q{{ q['id'] }}" value="A"> {{ q['opt_a'] }} </label><br>
               <label><input type="radio" name="q{{ q['id'] }}" value="B"> {{ q['opt_b'] }} </label><br>
               <label><input type="radio" name="q{{ q['id'] }}" value="C"> {{ q['opt_c'] }}</label><br>
               <label><input type="radio" name="q{{ q['id'] }}" value="D"> {{ q['opt_d'] }}</label><br>
            </div>
         {% endfor %}
         <button type="submit" id="SubmitExame">Enviar Respostas</button>
      </form>

   </main>
   <footer>

   </footer>
</body>
</html>