<!DOCTYPE html>

<html lang="pt-br">


<!-- Cabeça e Links -->
<head>

  <meta charset="UTF-8">
  <title>Início - MS</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo.png')}}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Zen+Dots&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Dots&display=swap" rel="stylesheet">
</head>




<!-- Corpo - Login & About -->

<body>

  <header>
    
     <nav class="navbar">
         <div class="logo">Manvi</div>
            <ul class="menu">
            <li><a href="{{ url_for('main') }}">Início</a></li>
            <li><a href="{{ url_for('authentic') }}">Entrar</a></li>
            <li><a href="{{ url_for('about-us') }}">Sobre Nós</a></li>
            <li><a href="{{ url_for('oftenquestions') }}">FAQs</a></li>
            </ul>
     </nav>
     
  </header>
  



  <main> 

      
    <section class="hero">

    <img src="{{url_for('static', filename='images/Cabecalho.png')}}" alt="Banner" class="hero-bg">
  
    <div class="hero-content">
    <h1>Descubra seu potencial com o Manvi</h1>
    <p>Uma plataforma inteligente que analisa seu desempenho e conecta você a oportunidades.</p>
    <div class="hero-buttons">
      <a href="" class="btn-primary">Começar agora gratuitamente</a>
      <a href="{{url_for('exam', exam_id=1)}}" class="btn-secondary">Estude Aqui</a>
    </div>
    </div>

  </section>








   <!-- Definição -->

  <section id="introduction">


  <h1 class="title">O que é o Manvi Studios?</h1>

  <p>
    O Manvi Studios criou-se para transformar a experiência educacional
    dos alunos, facilitar a busca por oportunidades acadêmicas, 
    no contato direto com empresas, startups, e organizações
    que buscam grandes talentos para fazer parte de seu ambiente.
  </p>



  </section>
  
  <div class="benefits-container">
    <!-- Benefícios para os estudantes -->
    <section id="student-benefits">
      <h1>Benefícios para os estudantes:</h1>
      <ul>
        <li>Conexão direta com empresas e startups;</li>
        <li>Oportunidades de estágio e emprego;</li>
        <li>Desenvolvimento de habilidades práticas;</li>
        <li>Networking com profissionais da área;</li>
        <li>Acesso a recursos educacionais exclusivos;</li>
        <li>Uma plataforma gamificada para aprendizado;</li>
        <li>Acesso a simulados e questionários para treinamento.</li>
      </ul>
    </section>

    <!-- Benefícios para escolas e organizações -->
    <section id="organization-benefits">
      <h1>Benefícios para escolas e organizações:</h1>
      <ul>
        <li>Conexão com uma rede de talentos emergentes;</li>
        <li>Acesso a uma plataforma de aprendizado inovadora que possa evoluir o ensino de seus alunos;</li>
        <li>Oportunidade de colaborar com empresas e startups;</li>
      </ul>
    </section>
        
   <!-- Benefícios para empresas e startups -->
   <section id="empresarial-benefits">
   <h1>Benefícios para empresas e startups:</h1>
      <ul>
         <li>Acesso a uma nova geração de talentos;</li>
         <li>Parcerias e colaborações;</li>
         <li>Formação de profissionais preparados;</li>
         <li>Oportunidade de promover sua marca entre estudantes e instituições educacionais;</li>
         <li>Ampliação do mercado de trabalho com a seleção individual de funcionários potencialmente qualificados.</li>
      </ul>
  </section>


  </div>


  </main>











  <section id="conclusion">
  <h2>Nosso compromisso:</h2>  
      <p>O Manvi Studios está comprometido em criar um ambiente onde estudantes, escolas, empresas e startups possam se conectar, colaborar e crescer juntos.     Acreditamos que, ao unir esses diferentes atores, podemos transformar a educação e o mercado de trabalho, criando oportunidades significativas para todos os envolvidos.</p>
  </section>


  <section id="motivation">
  <img src="{{url_for('static', filename='images/homephrase.png')}}" alt="Grandes talentos começam aqui - Amanda Yuna" id="motivation-image">
  </section>

  <section id="banner">
  <video autoplay muted loop id="banner-video">
    <source src="{{url_for('static', filename='images/banner.mp4')}}" type="video/mp4">
    Seu navegador não suporta vídeo.
  </video>
  </section>
   

  <section id="vision"> 
  <h2>Nossa visão e missão</h2>  
      <p>Ser a plataforma líder em conectar estudantes, escolas, empresas e startups, promovendo um ecossistema vibrante de aprendizado, inovação e oportunidades profissionais.</p>
  </section>


  <section id="call-to-action">
  <h2>Junte-se a nós nessa jornada de transformação educacional e profissional!</h2>
  </section>
      


  

  
  <footer>
        

        <section id="contact-info">
            <p>Contato</p>
            <a href="mailto:manvistudiosms@gmail.com">manvistudiosms@gmail.com</a>
        </section>

        <div class="social-media">
                    <h3 id="call-us">Redes Sociais</h3>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/manvistudiosms"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/manvi-studios-23b13b388/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
        </div>

        <section id="copyright">
            <p>&copy; 2023 Manvi Studios. Todos os direitos reservados.</p>
        </section>


  </footer>
     


   <canvas id="particles"></canvas>
   <script src="{{ url_for('static', filename='js/particles.js') }}"></script>



     <script>
  document.addEventListener('DOMContentLoaded', () => {
  const section = document.querySelector('#introduction');

  section.addEventListener('mouseenter', () => {
    for (let i = 0; i < 40; i++) { // quantidade de estrelas
      const star = document.createElement('span');
      star.classList.add('star');

      // posição e velocidade aleatória
      star.style.left = Math.random() * section.offsetWidth + 'px';
      star.style.animationDuration = (1 + Math.random() * 2) + 's';

      section.appendChild(star);

      // remover estrela ao final da animação
      star.addEventListener('animationend', () => star.remove());
    }
   });
   });
  </script>


  
    </body>
</html> 

  