<!DOCTYPE html>

<html lang="pt-br">


<!-- Cabeça e Links -->
<head>

  <meta charset="UTF-8">
  <title>Início - MS</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/All Posts')}}">

  <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Zen+Dots&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Dots&display=swap" rel="stylesheet">
</head>




<!-- Corpo - Login & About -->

<body>

  <header>

    <h1 id="page-title">Manvi Studios</h1>
    <nav>
      <ul>
        <li><a href="{{url_for('authentic')}}">Estude aqui</a></li>
      </ul>
    </nav>

  </header>


     
  
  
  
  
  
  
  
  <main> 

      <!-- Definição -->

  <section id="introduction">

    
  <h1>O que é o Manvi Studios?</h1>

  <p>
    O Manvi Studios criou-se para transformar a experiência educacional
    dos alunos, facilitar a busca por oportunidades acadêmicas, 
    no contato direto com empresas, startups, e organizações
    que buscam grandes talentos para fazer parte de seu ambiente.
  </p>

  </section>
  
  <div class="benefits-container">
    <!-- Benefícios para os estudantes -->
    <section id="student-benefits">
      <h1>Benefícios para os estudantes:</h1>
      <ul>
        <li>Conexão direta com empresas e startups;</li>
        <li>Oportunidades de estágio e emprego;</li>
        <li>Desenvolvimento de habilidades práticas;</li>
        <li>Networking com profissionais da área;</li>
        <li>Acesso a recursos educacionais exclusivos;</li>
        <li>Uma plataforma gamificada para aprendizado;</li>
        <li>Acesso a simulados e questionários para treinamento.</li>
      </ul>
    </section>

    <!-- Benefícios para escolas e organizações -->
    <section id="organization-benefits">
      <h1>Benefícios para escolas e organizações:</h1>
      <ul>
        <li>Conexão com uma rede de talentos emergentes;</li>
        <li>Acesso a uma plataforma de aprendizado inovadora que possa evoluir o ensino de seus alunos;</li>
        <li>Contato com empresas e startups em busca de talentos que podem evoluir o nível de prestígio da unidade de ensino.</li>
      </ul>
    </section>
  </div>
        

  <section id="empresarial">
  <h2><div>Benefícios para empresas e startups:</div></h2>
      <ul>
         <li>Acesso a uma nova geração de talentos;</li>
         <li>Possibilidade de realizar parcerias e colaborações;</li>
         <li>Contribuição para a formação de profissionais mais preparados;</li>
         <li>Oportunidade de promover sua marca entre estudantes e instituições educacionais;</li>
         <li>Ampliação do mercado de trabalho com a seleção individual de funcionários potencialmente qualificados.</li>
      </ul>
  </section>


  <section id="conclusion">
  <h2><div>Nosso compromisso:</div></h2>  
      <p>O Manvi Studios está comprometido em criar um ambiente onde estudantes, escolas, empresas e startups possam se conectar, colaborar e crescer juntos. Acreditamos que, ao unir esses diferentes atores, podemos transformar a educação e o mercado de trabalho, criando oportunidades significativas para todos os envolvidos.</p>
  </section>


  <section id="motivation">
  <h1><div>Grandes futuros e empresas começam aqui</div></h1>
  </section>



  <section id="call-to-action">
  <h2><div>Junte-se a nós nessa jornada de transformação educacional e profissional!</div></h2>
  </section>
      

  </main>




    
  
  
  
  
  
  
  
  
  
  
  
  <footer>
        

        <section id="contact-info">
            <p>Contato</p>
            <a href="mailto:manvistudiosms@gmail.com">manvistudiosms@gmail.com</a>
        </section>

        <div class="social-media">
                    <h3 id="call-us">Redes Sociais</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/manvistudiosms"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/manvi-studios-23b13b388/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
        </div>

        <section id="copyright">
            <p>&copy; 2023 Manvi Studios. Todos os direitos reservados.</p>
        </section>



      </footer>


    </body>
</html> 